.checkoutProduct{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
}

.checkoutPoduct-info{
    padding-left: 20px;
}

.checkoutProduct-image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    
}

.checkoutPoduct-info > button{
    background-color: #f0c14b;
    
    border: 1px solid ;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutPoduct-rating{
    display: flex;

}
.checkoutPoduct-title{
    font-size: 17px;
    font-weight: 800;
}